In [16]:
import pandas as pd 
import os

# Premiers pas avec le fichier

Le fichier est trop volumineux pour pouvoir le stocker sur le github. C'est pourquoi nous opérons quelques modifications.

In [26]:
df = pd.read_csv('/Users/augustincablant/Desktop/data.csv')
df.head()

/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_2106/1225068217.py:1: DtypeWarning: Columns (2,3,8,12,28,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/augustincablant/Desktop/data.csv')

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km)
0,77799293,FR,IP-13-JN1-2017-0018,RENAULT-NISSAN-MITSUBISHI,NISSAN AUTOMOTIVE EUROPE,NISSAN AUTOMOTIVE EUROPE SAS,NaN,e5*2007/46*1028*00,ME0M,B,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-01-24,NaN,200.0
1,77799294,FR,IP-13-JN1-2017-0018,RENAULT-NISSAN-MITSUBISHI,NISSAN AUTOMOTIVE EUROPE,NISSAN AUTOMOTIVE EUROPE SAS,NaN,e5*2007/46*1028*00,ME0M,B,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-03-31,NaN,200.0
2,77799295,FR,IP-13-JN1-2017-0018,RENAULT-NISSAN-MITSUBISHI,NISSAN AUTOMOTIVE EUROPE,NISSAN AUTOMOTIVE EUROPE SAS,NaN,e5*2007/46*1028*03,ME0M,B,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-05-23,NaN,200.0
3,77499852,FR,IP-ZXK____REDU7760-VF7-0,STELLANTIS,AUTOMOBILES CITROEN,AUTOMOBILES CITROEN,NaN,e2*2007/46*0530*14,V,Z,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-05-11,NaN,211.0
4,77499853,FR,IP-ZXK____REDU7760-VF7-0,STELLANTIS,AUTOMOBILES CITROEN,AUTOMOBILES CITROEN,NaN,e2*2007/46*0530*14,V,Z,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-05-12,NaN,210.0

In [3]:
df.shape

(1322601, 38)

In [4]:
df.columns

Index(['ID', 'Country', 'VFN', 'Mp', 'Mh', 'Man', 'MMS', 'Tan', 'T', 'Va',
       'Ve', 'Mk', 'Cn', 'Ct', 'Cr', 'r', 'm (kg)', 'Mt', 'Enedc (g/km)',
       'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ft', 'Fm',
       'ec (cm3)', 'ep (KW)', 'z (Wh/km)', 'IT', 'Ernedc (g/km)',
       'Erwltp (g/km)', 'De', 'Vf', 'Status', 'year', 'Date of registration',
       'Fuel consumption ', 'Electric range (km)'],
      dtype='object')

In [27]:
# On conserve que la France 

df_fr = df[df['Country']=='FR']
df_fr.shape

(214432, 38)

In [28]:
# On opère à une sélection des colonnes 
colonnes_utiles = ['Mp','m (kg)', 'Ft', 'ep (KW)', 'z (Wh/km)','Status', 'year', 'Fuel consumption ', 'Electric range (km)']
df_fr = df_fr[colonnes_utiles]
df_fr.shape

(214432, 9)

In [29]:
df_fr.to_csv('/Users/augustincablant/Documents/GitHub/Pycar/DOWNLOAD/voitures_fr.csv')

Fin de la procédure.

# Passons à l'analyse du fichier

In [30]:
os.chdir("/Users/augustincablant/Documents/GitHub/Pycar")
df = pd.read_csv('DOWNLOAD/voitures_fr.csv')
df.drop('Unnamed: 0', axis=1, inplace = True)

In [31]:
df.sample(10)

,Mp,m (kg),Ft,ep (KW),z (Wh/km),Status,year,Fuel consumption,Electric range (km)
79377,VOLKSWAGEN,2109.0,ELECTRIC,70.0,171.0,P,2022,NaN,519.0
193336,RENAULT-NISSAN-MITSUBISHI,1577.0,ELECTRIC,51.0,195.0,P,2022,NaN,351.0
178673,RENAULT-NISSAN-MITSUBISHI,1700.0,ELECTRIC,55.0,154.0,P,2022,NaN,463.0
23617,STELLANTIS,1530.0,ELECTRIC,100.0,154.0,P,2022,NaN,362.0
190892,RENAULT-NISSAN-MITSUBISHI,1577.0,ELECTRIC,51.0,192.0,P,2022,NaN,358.0
191045,RENAULT-NISSAN-MITSUBISHI,1577.0,ELECTRIC,51.0,173.0,P,2022,NaN,395.0
50541,MERCEDES-BENZ,1095.0,ELECTRIC,41.0,174.0,P,2022,NaN,122.0
62429,STELLANTIS,1365.0,ELECTRIC,43.0,143.0,P,2022,NaN,312.0
174217,RENAULT-NISSAN-MITSUBISHI,1711.0,ELECTRIC,55.0,162.0,P,2022,NaN,433.0
69964,STELLANTIS,1281.0,ELECTRIC,43.0,130.0,P,2022,NaN,190.0